#main {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* Add & Search */
.input {
	background-color: #eee;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 8px;
}

.btn {
	background-color: #3057be;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 8px;
	font-size: 14px;
	margin-left: 8px;
}

.add {
	position: relative;
	margin-bottom: 24px;
}

.add::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -12px;
	border: 1px solid #eee;
}

.search {
	display: flex;
	margin-bottom: 32px;
}

.input-search {
	flex: 1;
}


/* Info */
.info-item {
	display: flex;
	justify-content: space-between;
	background-color: #eee;
	padding: 12px;
	border-radius: 5px;
	margin-bottom: 10px;
}