.btn {
	position: fixed;
	bottom: 64px;
	right: 64px;
	height: 64px;
	min-width: 100px;
	background-color: #007bff;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 8px;
	cursor: pointer;
}